body {
	margin: 0px;
	background: #1B2631;
	font-family: Consolas, monospace;
}
h1 {
	color: white;
	text-align: center;
}
.prolist {
	margin: 5%;
	width: 80%;
	height: fit-content;
	background: #5b5ba1;
	border-radius: 25px;
	padding: 5%;
}
img {
	width: 100%;
	border-radius: 20px;
	max-width: 750px;
	box-shadow: #8a6dff 0px 0px 40px;
}
p {
	color: white;
	text-shadow: 0px 0px 100px;
}
.content {
	position: relative;
}
h2 {
	position: absolute;
	right: 20px;
	top: 10px;
	color: white;
	transition: all 1s;
}
::-webkit-scrollbar {
    width: 10px;
    padding: 2px;
    background: #1B2631;
}
::-webkit-scrollbar-thumb {
    background: #85929E;
    border-radius: 10px;
}
@media only screen and (min-width: 768px) {
	h1 {
		font-size: 50px;
	}
	p {
		font-size: 25px;
	}
	.content {
		max-width: 750px;
	}
}
